
<div class = "container">
<div class = "row">
<div class = "col s12">
<%= image_tag("background.jpg" , size: "1000x450" , class: "materialboxed") %>
</div>
</div>
<div class = "row">
<div class = "col s4 offset-s6">
<%= image_tag("profile.png" , size: "200x200" , class: "materialboxed circle profile") %>
</div>
</div>
</div>